<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Velocity Test</title>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="/assets/velocity-lite.0.2.5.js"></script>
    <!-- <script type="text/javascript" src="./dist/velocity-lite.0.1.2.js"></script> -->
    <script type="text/javascript" src="./dist/arttemplate.js"></script>
    <script type="text/javascript" src="./dist/mustache.js"></script>
    <script type="text/javascript" src="./dist/data-test.js"></script>
    <script type="text/javascript" src="./dist/Timer.js"></script>
</head>

<body>
    <div id="velocity" style="width:300px;height:200px">
    </div>
    <div id="mustache" style="width:300px;height:200px">
    </div>
    <div id="arttemplate" style="width:300px;height:200px">
    </div>
    <div id="v_10" style="width:300px;height:260px">
    </div>
    <div id="v_100" style="width:600px;height:460px">
    </div>
    <div id="v_1000" style="width:600px;height:460px">
    </div>
    <div id="v_10000" style="width:300px;height:260px">
    </div>
    <script id="v_tpl" type="text/tmplate">
        #foreach($i in $result)
        <div>
            #if($i.isTrue)
            <p>$!{i.p1}</p>
            <p>$!{i.p2}</p>
            <p>$!{i.p3}</p>
            <p>$!{i.p4}</p>
            <p>$!{i.p5}</p>
            #else
            <p>$!{i.p1}</p>
            <p>$!{i.p2}</p>
            <p>$!{i.p3}</p>
            <p>$!{i.p4}</p>
            <p>$!{i.p5}</p>
            #end #foreach($item in $i.obj) #if($item.success)
            <div>${item.info}</div>
            #else
            <div>${item.error}</div>
            #end #end
        </div>
        #end
    </script>
    <script id="a_tpl" type="text/tmplate">
        {{each result as r}}
        <div>
            {{if r.isTrue}}
            <p>{{r.p1}}</p>
            <p>{{r.p2}}</p>
            <p>{{r.p3}}</p>
            <p>{{r.p4}}</p>
            <p>{{r.p5}}</p>
            {{else}}
            <p>{{r.p1}}</p>
            <p>{{r.p2}}</p>
            <p>{{r.p3}}</p>
            <p>{{r.p4}}</p>
            <p>{{r.p5}}</p>
            {{/if}} {{each r.obj as value}} {{if value.success}}
            <div>{{value.info}}</div>
            {{else}}
            <div>{{value.error}}</div>
            {{/if}} {{/each}}
        </div>
        {{/each}}
    </script>
    <script id="m_tpl" type="text/tmplate">
        {{#result}}
        <div>
            {{#isTrue}}
            <p>{{p1}}</p>
            <p>{{p2}}</p>
            <p>{{p3}}</p>
            <p>{{p4}}</p>
            <p>{{p5}}</p>
            {{/isTrue}} {{^isTrue}}
            <p>{{p1}}</p>
            <p>{{p2}}</p>
            <p>{{p3}}</p>
            <p>{{p4}}</p>
            <p>{{p5}}</p>
            {{/isTrue}} {{#obj}} {{#success}}
            <div>{{info}}</div>
            {{/success}} {{^success}}
            <div>{{error}}</div>
            {{/success}} {{/obj}}
        </div>
        {{/result}}
    </script>
    <script>
    //执行次数
    var number = 1000;
    /*
    保存各个模板引擎执行的时间    
    */
    var result = [];
    /*
    执行模板
        参数 ： 
        type ：模板名称
        steps : obj 
            {
                tpl : 模板片段,
                compile : 预编译方法，
                render : 渲染方法
            }
    */
    function runTemplate(type, steps) {
        var temp = [];
        for (var i = 0; i < number; i++) {
            var timer = new Timer();
            //执行compile
            steps.compile();
            //记录compile时间
            timer.compileTime();
            //执行render
            steps.render();
            //记录render时间
            timer.renderTime();
            //保存各阶段时间

            temp.push(timer.consumeTime());

            timer = null;
        }
        result.push({
            type: type,
            times: avg(temp)
        });

        temp = [];

        function avg(arr) {
            var c_count = 0,
                r_count = 0,
                c_sum = 0,
                r_sum = 0;
            arr.forEach(function(item) {
                if (item.compileTime) {
                    c_count++;
                    c_sum += item.compileTime;
                }
                if (item.renderTime) {
                    r_count++;
                    r_sum += item.renderTime;
                }
            });
            return {
                compileTime: isNaN(c_sum / c_count) ? 0 : c_sum / c_count,
                renderTime: isNaN(r_sum / r_count) ? 0 : r_sum / r_count
            }
        }
    }

    var tester = [{
        name: 'velocity',
        steps: {
            data: {},
            tpl: document.querySelector('#v_tpl').innerHTML,
            compile: function() {
                new Velocity().getVM(this.tpl)
            },
            render: function() {
                new Velocity(this.tpl).render(this.data)
            }
        }
    }, {
        name: 'mustache',
        steps: {
            data: {},
            tpl: document.querySelector('#m_tpl').innerHTML,
            compile: function() {
                Mustache.parse(this.tpl);
            },
            render: function() {
                Mustache.render(this.tpl, this.data);
            }
        }
    }, {
        name: 'arttemplate',
        steps: {
            data: {},
            tpl: document.querySelector('#a_tpl').innerHTML,
            compile: function() {
                template.compile(this.tpl);
            },
            render: function() {
                (template.compile(this.tpl))(this.data);
            }
        }
    }];
    /*
        用heighChar画图
    */
    function createBarChart(opt) {
        new Highcharts.Chart({
            chart: {
                renderTo: opt.type,
                type: 'column'
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            xAxis: {
                categories: opt.categories
            },

            yAxis: {
                min: 0,
                title: {
                    text: '耗时(毫秒)'
                }
            },
            title: {
                text: opt.num + '条数据 '+ number+'次渲染 得到的平均耗时'
            },
            series: opt.data
        });
    }

    /*
        用heighChar画饼图 ，参数opt，
        opt格式如下{
             type : 模板名
             times : {
                compileTime : 
                renderTime : 
             } 
        }
    */
    function createChart(opt) {
        new Highcharts.Chart({
            chart: {
                renderTo: opt.type
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer'
                }
            },
            title: {
                text: opt.type + '模板 总耗时：' + sum() + '毫秒'
            },
            series: [{
                type: 'pie',
                data: formatePieData()
            }]
        });

        function formatePieData() {
            var times = opt.times;
            var s = sum();
            var pieData = [];
            for (let key in times) {
                let temp = {
                    name: key,
                    color: colorRandom(),
                    y: +(times[key] / s)
                };
                pieData.push(temp);
            }
            return pieData;
        }

        function colorRandom() {
            return '#' + ('00000' + (Math.random() * 0x1000000 << 0).toString(16)).slice(-6);
        }

        function sum() {
            var sum = 0;
            var times = opt.times;
            for (var key in times) {
                sum += times[key];
            }
            return sum;
        }
    }

    //遍历tester对象，使用不同模板引擎渲染模板，得到结果。
    // tester.forEach(function(ele, index) {
    //     runTemplate(ele.name, ele.steps);
    //     createChart(result[index]);
    // });





    function analyse() {
        for (var i = 2; i <= 2; i++) {
            var num = Math.pow(10, i);
            tester.forEach(function(ele, index) {
                ele.steps.data = getDateByNum(num);
                runTemplate(ele.name, ele.steps);
            });
            createBarChart({
                num: num,
                type: "v_" + num,
                categories: (function(r) {
                    var temp = [];
                    for (var i = 0, len = r.length; i < len; i++) {
                        temp.push(r[i].type);
                    }
                    return temp;
                })(result),
                data: (function(r) {
                    var sum = {
                            name: "total",
                            data: [],
                            dataLabels: {
                                enabled: true,
                                rotation: -90,
                                color: '#FFFFFF',
                                align: 'right',
                                x: 4,
                                y: 10,
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif',
                                    textShadow: '0 0 3px black'
                                }
                            }
                        },
                        compile = {
                            name: "compile",
                            data: []
                        },
                        render = {
                            name: "render",
                            data: []
                        };
                    for (var i = 0, len = r.length; i < len; i++) {
                        var renderTime = r[i].times["renderTime"],
                            compileTime = r[i].times["compileTime"];
                        sum.data.push(+(renderTime + compileTime).toFixed(2));
                        render.data.push(+renderTime.toFixed(2));
                        compile.data.push(+compileTime.toFixed(2));
                    }
                    return [sum, render, compile];
                    //return [sum];
                })(result)
            });
            result = [];
        }
    }

    //程序入口
    analyse();
    </script>
</body>

</html>
